.env
node_modules
textFiles/notes
textFiles/notes.txt
textFiles/mynewfile1.txt
sounds/song.mp3
sounds/balls.mp3
sounds/chunky.mp3
sounds/grimreaper.mp3
sounds/rain.mp3
ffmpeg/
*.ogg
*.mp4
textFiles/newFile2.txt
*.mp3
textFiles/newFile2.txt
textFiles/ballsCounter.txt
textFiles/newFile2.txt
textFiles/testfile.txt
textFiles/tweetsnoids.txt
textFiles/Dad_and_Ping.txt
textFiles/pointsFileBeef.txt
textFiles/pointsFilePakoola.txt
textFiles/pointsFileFarmer.txt
textFiles/pointsFileRabid.txt
textFiles/pointsFile.txt
images/coin_Heads.jpg
images/coin_tails.jpg
images/qrcode.png
textfiles/pointsLog.txt
